<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Car</title>
</head>

<body>
    <a href="/cars">Browse cars </a>
    <h1>add new Car!</h1>
    <form action="/cars" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />

        <label for="year">Model / Year of created</label>
        <input type="number" name="year" id="year" />

        <button type="submit">Add Car</button>
    </form>
</body>

</html>